{define #title}MI-VMW Tester{/define}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{include #title}</title>

        <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css" />

        <script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
        <script src="{$basePath}/bower_components/angular/angular.js"></script>
        <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body data-ng-app="vmw">
        <div class="container">
            <div class="header">
                <h1>{include #title}</h1>
            </div>

            <hr />

            <div data-ng-controller="QuestionCtrl">
                <div data-ng-if="loading">
                    <h3>Načítám otázky</h3>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Načítám otázky</span>
                        </div>
                    </div>
                </div>

                <div data-ng-if="!loading">
                    <h3>#{{ counter }}: {{ question.text }}</h3>
                    <div class="list-group">
                        <a data-ng-repeat="a in options"
                           href="#" data-ng-click="select(a)"
                           data-ng-class="{ 'list-group-item': (1), 'list-group-item': (1), 'list-group-item-danger': (show && selected == a && selected != question.right), 'list-group-item-success': (show && question.right == a) }">{{ a }}</a>
                    </div>
                </div>

                <div>
                    <span class="btn btn-success">Správných odpovědí: {{ ok }}</span>
                    <span class="btn btn-danger">Počet chyb: {{ bad }}</span>
                    <a href="#" data-ng-click="reset()" class="btn btn-default">Resetovat</a>
                </div>
            </div>

        </div>

        <script src="{$basePath}/source/js/main.js"></script>
    </body>
</html>